# Bind

BIND=0.0.0.0
PORT=3000

# Target

TARGET=https://example.com
SECURE=false

# Limits

CREATION_LIMIT=5 # Resets every 3 days
EXPIRATION_MILISECONDS=604800000 # Expiration
NONCE_DIFFICULTY=5
RATE_LIMIT=30000

# Customization

BLOCKED_BOTS='["GPTBot", "ChatGPT-User", "OAI-SearchBot", "anthropic-ai", "ClaudeBot", "Claude-SearchBot", "Google-Extended", "Google-CloudVertexBot", "PerplexityBot", "meta-externalagent", "GrokBot", "xAI-Grok", "Grok-DeepSearch", "Applebot-Extended", "CCBot", "Bytespider", "Amazonbot"]'
ALLOWED_ROUTES='["/^\/\.well-known(?:\/.*)?$/", "/^\/favicon\.ico$/", "/^\/manifest\.json(?:\?.*)?$/", "/^\/[^\/]+\.txt$/", "/^.*\.(xml|rss|atom)$/"]'
BRANDING=true # Lets you support Aluminium
NAI_TAG=true

# Mode (development or production)

MODE=development